<!DOCTYPE html>
<html lang="ru">
<head>
<meta charset="utf-8">
<title></title>
<link rel="stylesheet" href={{url_for('static', filename='css\index.css')}} rel="stylesheet">
</head>
<body>
<main>
    <dev class = "dev_style">
        <form class = "form_style" action = "secondpage" id = "result" method="GET">
        <label class = "stroka" id = "token" required> Введите токен:  </label>
        <input type = "text" name = "token" id = "token" class = "select_style" required>
        <button type="submit" from = "result" class = "button_style"> Получить полётное задание </button>
    </dev>
</body>
</html>