
<!DOCTYPE html> 
<html lang="ru"> 
<head> 
    <meta charset="UTF-8"> 
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Межпланетный экспресс</title> 
    <link rel="stylesheet" href="page3.css"> 
</head> 
<body> 
    <table class="tablestyle"> 
        <caption>Ваше полётное задание</caption> 
        <tr> 
            <td class="iceika">id точки</td> 
            <td class="iceika">Расстояние</td> 
            <td class="iceika">Кол-во SH</td> 
            <td class="iceika">Внести изменения</td> 
            <td class="iceika">Подробности</td> 
        </tr> 
        {% for tr in table %} 
        <tr> 
            <td class="iceika">{{tr.id}}</td> 
            <td class="iceika">{{tr.s}}</td> 
            <td class="iceika">{{tr.kol}}</td> 
            <td class="iceika">{{tr.izm}}</td> 
            <td class="iceika"> 
                <details class="details_style"> 
                    1.Кол-во оставшихся ресурсов: {{tr.resost}}<br> 
                    2.Кол-во ресурсов расходуемых в данный момент:{{tr.rasnow}}<br> 
                    3.Численность популяции: {{tr.chis}}<br> 
                    4.Характеристики автоклава:{{tr.avt}}<br> 
                    5.Распределение мощности реактора:{{tr.mosh}}<br> 
                </details> 
            </td> 
        </tr> 
        {% endfor %} 
    </table> 
</body> 
</html>